﻿@model IEnumerable<ePayments.Models.TransactionSummaryViewModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Transaction Summary</h2>
<table>
    <tr>
        <th>
            Course
        </th>
        <th>
            Completed Transactions
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CourseTitle)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NumberOfTransactions)
        </td>
    </tr>
}

</table>