﻿@model IEnumerable<ePayments.Models.CourseModel>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
        </th>
    </tr>
    @foreach (var item in Model)
    {
        <tr class="courses">
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @using (Html.BeginForm(null, null, FormMethod.Post, new { @action = "https://www.sandbox.paypal.com/cgi-bin/webscr" }))
                {
                    <input type="hidden" name="cmd" value="_xclick" />
                    <input type="hidden" name="business" value="ken.bl_1355834457_biz@bbv.ch" />

                    <input type="hidden" name="item_name" value="@item.Title" />
                    <input type="hidden" name="item_number" value="@item.Id" />
                    <input type="hidden" name="amount" value="@item.Price" />
                    <input type="hidden" name="currency_code" value="CHF" /> 
            
                    <input type="image" src="/Images/paypal.png" width="135px" border="0" name="submit" alt="Jetzt einfach, schnell und sicher online bezahlen – mit PayPal." />
                    <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1" />

                }

                <a href="/AuthorizeNet/Pay/@item.Id"><img alt="" border="0" src="/Images/buy_now_blue.gif" /></a>                
                @Html.ActionLink("Reservations", "Reservations", new { Controller = "ReservationReport", courseId = item.Id })
                
            </td>
       </tr>
    }
</table>
