﻿@model dynamic

@{
    ViewBag.Title = "Test Accounts Information";
}

<h2>Test accounts information</h2>
<table>
    <tr>
        <th>Name</th>
        <th>Url</th>
        <th>Login</th>
        <th>Password</th>
    </tr>
    <tr>
        <td>Authorize.Net</td>
        <td><a href="https://sandbox.authorize.net/">https://sandbox.authorize.net/</a></td>
        <td>bbvTechProject1</td>
        <td>Somewhere1+</td>
    </tr>
    <tr>
        <td>PayPal</td>
        <td><a href="https://developer.paypal.com">https://developer.paypal.com</a></td>
        <td>Personal: ken.bl_1355832430_per@bbv.ch<br/>Business: ken.bl_1355834457_biz@bbv.ch</td>
        <td>355832366<br/>355832366</td>
    </tr>
</table>

<h2>Test credit cards</h2>
<table>
    <tr>
        <th>Card type</th>
        <th>Card number</th>
    </tr>
    <tr>
        <td>American Express</td>
        <td>370000000000002</td>
    </tr>
    <tr>
        <td>Discover</td>
        <td>6011000000000012</td>
    </tr>
    <tr>
        <td>Visa</td>
        <td>4007000000027</td>
    </tr>
    <tr>
        <td>Visa2</td>
        <td>4012888818888</td>
    </tr>
    <tr>
        <td>Visa (Invalid)</td>
        <td>4012000010000</td>
    </tr>
    <tr>
        <td>JCB</td>
        <td>3088000000000017</td>
    </tr>
    <tr>
        <td>Diners Club/ Carte Blanche</td>
        <td>38000000000006</td>
    </tr>
</table>

