﻿@model ePayments.ModelMock.CreditCardData

@{
    ViewBag.Title = "PAY! NAU!";
}

<h2>PAY! NAU!</h2>

@using (Html.BeginForm("PerformTransaction", "AuthorizeNet"))
{
    @Html.Hidden("ProductId", Model.ProductId)
    <table>
        <tr>
            <td>Credit card number:</td>
            <td>@Html.TextBox("CreditCardNumber", Model.CreditCardNumber)</td>
        </tr>
        <tr>
            <td>Amount:</td>
            <td>@Html.TextBox("Amount", Model.Amount)</td>
        </tr>
    </table>
    
    <input type="submit" value="Submit"/>
}





